[Unit]
Description=logs stats for a story on Royal Road
Requires=rr_sample.service

[Timer]
Unit=rr_sample.service
OnCalendar=*-*-* *:00/15:00
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
