[Unit]
Description=logs stats for a story on Royal Road
Wants=rr_sample.timer

[Service]
Type=oneshot
ExecStart=rr_stats_sample

[Install]
WantedBy=multi-user.target
